<% provide(:title, @user.name) %>
<%= form_with(model: @attendance, url: update_month_info_path(@user), local: true, method: :patch) do |f| %>
  <%= f.hidden_field :id, :value => @attendance.id %> <!-- attendancesテーブルのidを渡す -->
  <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.hidden_field :worked_month, :value => @first_day %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        <% if current_user?(@user) %>
          <%= link_to "← ", user_path(date: @first_day.prev_month), class: "btn btn-primary" %>
        <% end %>  
          【<%= l(@first_day, format: :middle) %>】勤怠管理表&emsp;
        <% if current_user?(@user) %>  
          <%= link_to " →", user_path(date: @first_day.next_month), class: "btn btn-primary" %>
        <% end %>  
        </td>
      <td>
        指定勤務開始時間：<%= format_basic_info(@user.designated_work_start_time) %><br>
        指定勤務終了時間：<%= format_basic_info(@user.designated_work_end_time) %>
      </td>
      <td colspan="3"><br>基本時間：<%= format_basic_info(@user.basic_time) %></td>
      <td><br>初日：<%= l(@first_day, format: :short) %></td>
    </tr>
    
    <tr>
      <td>所属：<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>名前：<%= @user.name %></td>
      <td>コード</td>
      <td></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>締め：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<% if current_user?(@user) %>
  <% if current_user.superior? %>
    <% if @month.blank? %>
      <h4>【所属長承認申請のお知らせ】</h4>
    <% else %>
      <div class="month-info">
        <%= link_to "【所属長承認申請のお知らせ】", '#' %>
      </div>
    <% end %>  
    <% if @notice.blank? %>
      <h4>【残業申請のお知らせ】</h4><br>
    <% end %>
    <% count = 0 %>
    <% @users.each do |user| %>
      <% attendances = Attendance.where(user_id: user.id) %>
        <% attendances.each do |at| %>
          <% count += 1 %>
            <% if @notice.present? && count == 1 %>
              <div class="overtime-info">
                  <%= link_to "【残業申請のお知らせ】", edit_overtime_info_path(user_id: user, id: at.id, date: @first_day), remote: true, style: "color:red" %>
                  <font color="red"><%= @count %>件の通知があります</font>
              </div>    
               <% break %>
            <% end %>
        <% end %>  
    <% end %>
  <% end %>
<% end %>

<% if current_user?(@user) %>
  <div class="btn-users-show">
    <%= link_to "１ヶ月の勤怠編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>
  </div>
  <%= link_to "CSV出力", user_path(format: :csv), class: "btn btn-primary" %>
<% end %>
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr> <!--rowspan:縦結合、colspan：横結合-->
        <th rowspan = "3">残業申請</th>
        <th rowspan = "3">日付</th>
        <th rowspan = "3">曜日</th>
        <th colspan = "8">【実績】</th>
        <th colspan = "5">所定外勤務</th>
      </tr>
      <tr>
        <th colspan = "3">出社</th>
        <th colspan = "3">退社</th>
        <th rowspan = "2">在社時間</th>
        <th rowspan = "2">備考</th>
        <th colspan = "2">終了予定時間</th>
        <th rowspan = "2">時間外時間</th>
        <th rowspan = "2">業務処理内容</th>
        <th rowspan = "2">指示者確認㊞</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |day| %>
      <tr>
        <% if current_user?(@user) %>
          <td>
            <%= link_to "残業申請", edit_overtime_path(@user, params:{day: day.worked_on, youbi: $days_of_the_week[day.worked_on.wday]}), remote: true, class: "btn btn-primary" %>
          </td>
        <% end %>
        <td><%= l(day.worked_on, format: :short) %></td>
        <td><%= $days_of_the_week[day.worked_on.wday] %></td>
        <td><%= day.started_at.to_s(:hour) if day.started_at.present? %></td>
        <td><%= day.started_at.to_s(:min) if day.started_at.present? %></td>
        <td>
          <% if current_user?(@user) %>
            <% if day.worked_on == Date.today && day.started_at.nil? %>
              <%= link_to "出社", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary" %>
            <% end %>
          <% end %> 
        </td>
        <td><%= day.finished_at.to_s(:hour) if day.finished_at.present? %></td>
        <td><%= day.finished_at.to_s(:min) if day.finished_at.present? %></td>
        <td>
          <% if current_user?(@user) %>
            <% if day.worked_on == Date.today && day.started_at.present? && day.finished_at.nil? %>
              <%= link_to "退社", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary" %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if day.started_at.present? && day.finished_at.present? %>
            <%= str_times = working_times(day.started_at, day.finished_at) %>
            <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
          <% end %>  
        </td>
        <td><%= day.note %></td>
        <td><%= day.scheduled_end_time.to_s(:hour) if day.scheduled_end_time.present? %></td>
        <td><%= day.scheduled_end_time.to_s(:min) if day.scheduled_end_time.present? %></td>
        <td>
          <% if day.scheduled_end_time.present? && day.user.designated_work_end_time.present? %>
            <% if day.next_day.present? && day.next_day == "true" %>
              <%= overwork_times_tomorrow(day.scheduled_end_time, day.user.designated_work_end_time) %>
            <% elsif day.next_day.present? && day.next_day == "false" %>  
              <%= overwork_times(day.scheduled_end_time, day.user.designated_work_end_time) %>
            <% end %>  
          <% end %>
        </td>
        <td><%= day.business_description %></td>
        <td>
          <% if day.instructor_sign.present? %>
            <% if day.applying? %>
              <span>残業申請中</span>
            <% end %>  
            <% if day.approval? %>
              <span>残業承認済み</span>
            <% end %>
            <% if day.denial? %>
              <span>残業否認</span>
            <% end %>  
          <% end %>  
        </td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td rowspan = "3"></td>
        <td colspan = "2">累計日数</td>
        <td colspan = "6">総合勤務時間</td>
        <td>累計在社時間</td>
        <td colspan = "5" rowspan = "3"></td>
        <td rowspan = "3">
          所属長承認<br>
          <%= f.select :one_month_sign, @superiors.pluck(:name), {:include_blank => true}, {class: "form-control"} %><br>
          <%= f.submit "申請", class: "btn btn-block btn-primary" %>
        </td>
      </tr>
      <tr>
        <td colspan = "2"><%= @attendances.count %></td>
        <td colspan = "6"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
        <td><%= format("%.2f", @total_working_times.to_f) %></td>
      </tr>
    </tfoot>
  </table>
</div>
<% end %>

<div id="edit-overtime-work" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-overtime-work-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>