<% provide(:title, @user.name) %>
<%= form_with(model: @user, url: update_month_info_path(@user, date: @first_day), local: true, method: :patch) do |f| %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        <% if current_user?(@user) %>
          <%= link_to "← ", user_path(date: @first_day.prev_month), class: "btn btn-primary" %>
        <% end %>  
          【<%= l(@first_day, format: :middle) %>】勤怠管理表&emsp;
        <% if current_user?(@user) %>  
          <%= link_to " →", user_path(date: @first_day.next_month), class: "btn btn-primary" %>
        <% end %>  
        </td>
      <td>
        指定勤務開始時間：<%= format_basic_info(@user.designated_work_start_time) %><br>
        指定勤務終了時間：<%= format_basic_info(@user.designated_work_end_time) %>
      </td>
      <td colspan="3"><br>基本時間：<%= format_basic_info(@user.basic_time) %></td>
      <td><br>初日：<%= l(@first_day, format: :short) %></td>
    </tr>
    
    <tr>
      <td>所属：<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>名前：<%= @user.name %></td>
      <td>コード</td>
      <td></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>締め：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<% if current_user?(@user) %>
  <% if current_user.superior? %>
    <% if @month.present? || @month_2.present? %>
      <div class="month-info">
        <%= link_to "【所属長承認申請のお知らせ】", edit_month_work_info_path(user_id: @user.id, id: @attendance.id, date: @first_day), remote: true, style: "color:red" %>
        <font color="red"><%= @month_count.to_i + @month_2_count.to_i %>件の通知があります</font>
      </div>
    <% else %>
      <h4>【所属長承認申請のお知らせ】</h4>
    <% end %>
    
    <% if @worked_request.present? || @worked_request_2.present? %>
      <div class="worked-info">
        <%= link_to "【勤怠変更申請のお知らせ】", edit_worked_info_path(@user, date: @first_day), remote: true, style: "color:red" %>
          <font color="red"><%= @worked_count.to_i + @worked_count_2.to_i %>件の通知があります</font>
      </div>
    <% else %>
      <h4>【勤怠変更申請のお知らせ】</h4>
    <% end %>
    
    <% if @notice.present? || @notice_2.present? %>
      <div class="overtime-info">
        <%= link_to "【残業申請のお知らせ】", edit_overtime_info_path(@user, date: @first_day), remote: true, style: "color:red" %>
        <font color="red"><%= @count.to_i + @count_2.to_i %>件の通知があります</font><br>
      </div>
    <% else %>  
      <h4>【残業申請のお知らせ】</h4><br>
    <% end %>
  <% end %>
<% end %>

<% if current_user?(@user) %>
  <div class="btn-users-show">
    <%= link_to "１ヶ月の勤怠編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>
    <%= link_to "CSV出力", user_path(format: :csv), class: "btn btn-primary" %><br>
    <%= link_to "勤怠修正ログ（承認済）", worked_log_path(@user, date: @first_day), class: "btn btn-primary" %>
  </div>
<% end %>
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr> <!--rowspan:縦結合、colspan：横結合-->
        <th rowspan = "3">残業申請</th>
        <th rowspan = "3">日付</th>
        <th rowspan = "3">曜日</th>
        <th colspan = "8">【実績】</th>
        <th colspan = "5">所定外勤務</th>
      </tr>
      <tr>
        <th colspan = "3">出社</th>
        <th colspan = "3">退社</th>
        <th rowspan = "2">在社時間</th>
        <th rowspan = "2">備考</th>
        <th colspan = "2">終了予定時間</th>
        <th rowspan = "2">時間外時間</th>
        <th rowspan = "2">業務処理内容</th>
        <th rowspan = "2">指示者確認㊞</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |day| %>
      <tr>
        <td>
          <% if current_user?(@user) %>
            <%= link_to "残業申請", edit_overtime_path(@user, params:{day: day.worked_on, youbi: $days_of_the_week[day.worked_on.wday]}), remote: true, class: "btn btn-primary" %>
          <% end %>  
        </td>
        <td><%= l(day.worked_on, format: :short) %></td>
        <td>
          <% if day.worked_on.wday == 0 %>
            <font color="Red"><%= $days_of_the_week[day.worked_on.wday] %></font>
          <% elsif day.worked_on.wday == 6 %>
            <font color="Blue"><%= $days_of_the_week[day.worked_on.wday] %></font>
          <% else %>
            <%= $days_of_the_week[day.worked_on.wday] %>
          <% end %> 
        </td>
        <td>
          <% if day.approval_started.present? && day.worked_approval? && day.worked_change == "true" %>
            <% day.started_at = day.approval_started %>
            <%= day.approval_started.to_s(:hour) %>
          <% elsif (day.denial_started.present? && day.worked_applying? && day.worked_change == "true") || (day.denial_started.present? && day.worked_denial? && day.worked_change == "true") %>
            <%= day.denial_started.to_s(:hour) %>
          <% elsif day.started_at.present? && day.worked_applying? %>
            <%= day.started_at.to_s(:hour) %>
          <% end %>  
        </td>
        <td>
          <% if day.approval_started.present? && day.worked_approval? && day.worked_change == "true" %>
            <%= day.approval_started.to_s(:min) %>
          <% elsif (day.denial_started.present? && day.worked_applying? && day.worked_change == "true") || (day.denial_started.present? && day.worked_denial? && day.worked_change == "true") %>
            <%= day.denial_started.to_s(:min) %>
          <% elsif day.started_at.present? && day.worked_applying? %>
            <%= day.started_at.to_s(:min) %>
          <% end %>
        </td>
        <td>
          <% if current_user?(@user) %>
            <% if day.worked_on == Date.today && day.started_at.nil? %>
              <%= link_to "出社", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary" %>
            <% end %>
          <% end %> 
        </td>
        <td>
          <% if day.approval_finished.present? && day.worked_approval? && day.worked_change == "true" %>
            <% day.finished_at = day.approval_finished %>
            <%= day.approval_finished.to_s(:hour) %>
          <% elsif (day.denial_finished.present? && day.worked_applying? && day.worked_change == "true") || (day.denial_finished.present? && day.worked_denial? && day.worked_change == "true") %>
            <%= day.denial_finished.to_s(:hour) %>
          <% elsif day.finished_at.present? && day.worked_applying? %>
            <%= day.finished_at.to_s(:hour) %>
          <% end %>
        </td>
        <td>
          <% if day.approval_finished.present? && day.worked_approval? && day.worked_change == "true" %>
            <%= day.approval_finished.to_s(:min) %>
          <% elsif (day.denial_finished.present? && day.worked_applying? && day.worked_change == "true") || (day.denial_finished.present? && day.worked_denial? && day.worked_change == "true") %>
            <%= day.denial_finished.to_s(:min) %>
          <% elsif day.finished_at.present? && day.worked_applying? %>
            <%= day.finished_at.to_s(:min) %>
          <% end %>
        </td>
        <td>
          <% if current_user?(@user) %>
            <% if day.worked_on == Date.today && day.started_at.present? && day.finished_at.nil? %>
              <%= link_to "退社", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary" %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if day.started_at.present? && day.finished_at.present? %>
            <% if day.next_day.present? && day.next_day == "true" %>
              <%= str_times = working_times_tomorrow(day.started_at, day.finished_at) %>
            <% else %>  
              <%= str_times = working_times(day.started_at, day.finished_at) %>
            <% end %>
          <% end %>  
            <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
        </td>
        <td><%= day.note if day.worked_approval? %></td>
        <td><%= day.scheduled_end_time.to_s(:hour) if day.scheduled_end_time.present? && day.approval? %></td>
        <td><%= day.scheduled_end_time.to_s(:min) if day.scheduled_end_time.present? && day.approval? %></td>
        <td>
          <% if day.scheduled_end_time.present? && day.user.designated_work_end_time.present? && day.approval? %>
            <% if day.next_day.present? && day.next_day == "true" %>
              <%= overwork_times_tomorrow(day.scheduled_end_time, day.user.designated_work_end_time) %>
            <% elsif day.next_day.present? && day.next_day == "false" %>  
              <%= overwork_times(day.scheduled_end_time, day.user.designated_work_end_time) %>
            <% end %>  
          <% end %>
        </td>
        <td><%= day.business_description if day.approval? && day.overtime_change == "true" %></td>
        <td>
          <% if day.instructor_sign.present? %>
            <% if day.applying? || (day.approval? && day.overtime_change == "false") || (day.denial? && day.overtime_change == "false") %>
              <span><%= day.instructor_sign %>へ残業申請中&emsp;</span>
            <% elsif day.approval? && day.overtime_change == "true" %>
              <span>残業承認済&emsp;</span>
            <% elsif day.denial? && day.overtime_change == "true" %>
              <span>残業否認&emsp;</span>
            <% end %>  
          <% end %>
          
          <% if day.worked_request_sign.present? %>
            <% if day.worked_applying? %>
              <span><%= day.worked_request_sign %>へ勤怠編集申請中</span>
            <% elsif day.worked_approval? %>
              <span>勤怠編集承認済み</span>
            <% elsif day.worked_denial? %>
              <span>勤怠編集否認</span>
            <% end %>
          <% end %>  
        </td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td rowspan = "3"></td>
        <td colspan = "2">累計日数</td>
        <td colspan = "6">総合勤務時間</td>
        <td>累計在社時間</td>
        <td colspan = "5" rowspan = "3"></td>
        <td rowspan = "3">
          <% @attendances.each do |day| %>
            <% if day.month_approval? && day.month_change == "true" %>
              <span>所属長承認　<%= day.one_month_sign %>から承認済み</span>
            <% elsif day.month_denial? && day.month_change == "true" %>
              <span>所属長承認　<%= day.one_month_sign %>から否認</span>
            <% elsif day.month_applying? && day.worked_month.present? %>
              <span>所属長承認　<%= day.one_month_sign %>へ承認申請中</span>
            <% elsif day.worked_month.blank? %>
              <span>所属長承認　未</span>
            <% end %>
            
            <%= f.fields_for "attendances", day do |attendance| %>
              <% if current_user?(@user) %>
                <%= attendance.select :one_month_sign, @superiors.pluck(:name), {:include_blank => true}, {class: "form-control"} %><br>
                <%= attendance.hidden_field :worked_month, :value => @first_day %>
                <%= attendance.hidden_field :month_status, value: "month_applying" %>
                <%= attendance.hidden_field :month_change, value: "false" %>
              <% end %>
            <% end %>
            <% break %>
          <% end %>  
            <% if current_user?(@user) %>
              <%= f.submit "申請", class: "btn btn-block btn-primary" %>
            <% end %>  
        </td>
      </tr>
      <tr>
        <td colspan = "2"><%= @attendances.count %></td>
        <td colspan = "6"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
        <td><%= format("%.2f", @total_working_times.to_f) %></td>
      </tr>
    </tfoot>
  </table>
</div>
<% end %>

<div id="edit-overtime-work" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-overtime-work-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-month-work-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-worked-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>