<% provide(:title, @user.name) %>
<%= form_with(model: @user, url: attendances_update_one_month_user_path(date: @first_day), local: true, method: :patch) do |f| %>
  <div>
    <h1>勤怠編集画面</h1>
    <table class="table table-bordered table-condensed table-hover" id="table-attendances">
      <thead>
        <tr>
          <th>日時</th>
          <th>曜日</th>
          <th>出勤時間</th>
          <th>退勤時間</th>
          <th>翌日</th>
          <th>在社時間</th>
          <th>備考</th>
          <th>指示者確認㊞</th>
        </tr>
      </thead>
      <p>※勤怠変更申請をする際は、出勤、退勤、備考、指示者確認が<font color="Red">【必須】</font>になります。</p>
      <tbody>
        <% @attendances.each do |day| %>
          <%= f.fields_for "attendances[]", day do |attendance| %>
          <% if day.worked_approval? && day.worked_change == "true" %>
            <%= attendance.hidden_field :started_at,  value: day.approval_started %>
            <%= attendance.hidden_field :finished_at, value: day.approval_finished %>
            <%= attendance.hidden_field :note,        value: day.edit_note %>
          <% end %>  
          <%= attendance.hidden_field :worked_change, value: "false" %>
          <%= attendance.hidden_field :worked_status, value: "worked_applying" %>
            <tr>
              <td><%= l(day.worked_on, format: :short) %></td>
              <td>
                <% if day.worked_on.wday == 0 %>
                  <font color="Red"><%= $days_of_the_week[day.worked_on.wday] %></font>
                <% elsif day.worked_on.wday == 6 %>
                  <font color="Blue"><%= $days_of_the_week[day.worked_on.wday] %></font>
                <% else %>
                  <%= $days_of_the_week[day.worked_on.wday] %>
                <% end %>
              </td>
              <% if !current_user.admin? && (Date.current < day.worked_on) %>
                <td><%= attendance.time_field :applying_started_at, readonly: true, class: "form-control" %></td>
                <td><%= attendance.time_field :applying_finished_at, readonly: true, class: "form-control" %></td>
              <% else %>
                <td>
                  <% if day.worked_request_sign.blank? || (day.worked_denial? && day.worked_change == "true") %>
                    <% day.applying_started_at = day.started_at %>
                  <% end %>
                    <%= attendance.time_field :applying_started_at, class: "form-control" %>
                </td>
                <td>
                  <% if day.worked_request_sign.blank? || (day.worked_denial? && day.worked_change == "true") %>
                    <% day.applying_finished_at = day.finished_at %>
                  <% end %>
                    <%= attendance.time_field :applying_finished_at, class: "form-control" %>
                </td>
              <% end %> 
              <td>
                <% if Date.current < day.worked_on %>
                  <%= attendance.check_box :next_day, {:checked => false, :disabled => true}, "true", "false"  %>
                <% elsif day.next_day.present? && day.next_day == "true" %>
                  <%= attendance.check_box :next_day, {:checked => true}, "true", "false"  %>
                <% else %>
                  <%= attendance.check_box :next_day, {:checked => false}, "true", "false"  %>
                <% end %>  
              </td>
              <td>
                <% if day.applying_started_at.present? && day.applying_finished_at.present? %>
                  <% if day.next_day.present? && day.next_day == "true" %>
                    <%= working_times_tomorrow(day.applying_started_at, day.applying_finished_at) %>
                  <% else %>
                    <%= working_times(day.applying_started_at, day.applying_finished_at) %>
                  <% end %>  
                <% end %>  
              </td>
              <td>
                <% if Date.current < day.worked_on %>
                  <%= attendance.text_field :edit_note, readonly: true, class: "form-control" %>
                <% else %>
                  <% if day.worked_request_sign.blank? %>
                    <% day.edit_note = day.note %>
                    <%= attendance.text_field :edit_note, class: "form-control" %>
                  <% elsif day.worked_denial? && day.worked_change == "true" %>
                    <% day.edit_note = day.note %>
                    <%= attendance.text_field :edit_note, class: "form-control" %>
                  <% else %>  
                    <%= attendance.text_field :edit_note, class: "form-control" %>
                  <% end %>  
                <% end %>
              </td>
              <td>
                <% if Date.current < day.worked_on %>
                  <%= attendance.select :worked_request_sign, @superiors.pluck(:name), {:include_blank => true}, {:disabled => true, class: "form-control"} %>
                <% else %>
                  <% if day.worked_change == "true" %>
                    <% day.worked_request_sign = nil %>
                    <%= attendance.select :worked_request_sign, @superiors.pluck(:name), {:include_blank => true, selected: 0}, {class: "form-control"} %>
                  <% else %>
                    <%= attendance.select :worked_request_sign, @superiors.pluck(:name), {:include_blank => true}, {class: "form-control"} %>
                  <% end %>  
                <% end %>  
              </td>
            </tr>
          <% end %>    
        <% end %>
      </tbody>
    </table>
    <div class="center">
      <%= f.submit "まとめて更新", class: "btn btn-lg btn-primary" %>
      <%= link_to "キャンセル", user_path(date: @first_day), class: "btn btn-lg btn-default" %>
    </div>
  </div>
<% end %>  