<div>
  <h1>勤怠ログ</h1>
  
  <%= form_tag worked_log_path, :method => 'get' do %>
    <p>
      <%= month_field_tag :search, params[:search] %>
      <%= submit_tag "Search" %>
    </p>
  <% end %>
  
  <table class="table table-bordered table-condensed table-striped" id ="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>変更前出社時間</th>
        <th>変更前退社時間</th>
        <th>変更後出社</th>
        <th>変更後退社</th>
        <th>指示者</th>
        <th>承認日</th>
      </tr>
    </thead>
    <tbody>
        <% @attendances_search.each do |day| %> 
          <tr>
            <td><%= day.worked_on %></td>
            <td>
              <% if day.started_at.blank? %>
                <%= day.started_at %>
              <% else %>
                <%= day.started_at.to_s(:time) %>
              <% end %>  
            </td>
            <td>
              <% if day.finished_at.blank? %>
                <%= day.finished_at %>
              <% else %>  
                <%= day.finished_at.to_s(:time) %>
              <% end %>  
            </td>
            <td><%= day.approval_started.to_s(:time) %></td>
            <td><%= day.approval_finished.to_s(:time) %></td>
            <td><%= day.worked_request_sign %></td>
            <td><%= l(day.approval_date) %></td>
          </tr>
        <% end %>
    </tbody>
  </table>  
</div>
